[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
loguru = "*"
selenium = "*"
pytest-bdd = "*"
pytest = "*"
allure-pytest-bdd = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
